* {
  box-sizing: border-box;
}


/*.tabs {
  position: relative;
}
.tab-b {
  position: absolute;
  background: #fff;
  width: 800px;
  height: 500px;
  border: 1px solid grey;
  top: 47px;
}
.tab-h {
  position: absolute;
  background: #fff;
  width: 80px;
  height: 50px;
  border: 1px solid grey;
}
[data-tab="3"] {
  left: 90px;
}*/

.hero, .hero2 {
  width: 300px;
  float: left;
  margin: 30px;
  text-align: center;
}
img {
  width: 200px;

}
